body {
    background-color: hsl(217, 54%, 11%) !important;
    color: white !important;
    font-family: 'Outfit' !important;
}

.main {
    margin-top: 2%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    width: 25vw;
}

img {
    display: block;
    margin: 5% auto 0 auto;
    width: 90%;
    border-radius: 5%;
}

h4 {
    font-weight: 600;
}

p {
    max-width: 80%;
    font-size: 14px;
    font-weight: 400;
}

div .opt {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    width: 90%;
}

#ethI {
    float: left;
    width: 10%;
    margin-top: -.5%;
}

.eth {
    color: cyan;
}

#clockI {
    float: left;
    width: 15%;
    margin-top: 1%;
}

#clock {
    margin-left: 6%;
}

footer {
    font-size: 12px;
}

footer img {
    margin-top: -1%;
    float: left;
    width: 10%;
    border: 2px solid white;
    border-radius: 50%;
}