body {
    height: 100vh;
    max-width: 100vw;
    box-sizing: border-box !important;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-size: 18px !important;
    font-family: 'Kumbh Sons' !important;
}

h1 {
    font-weight: 900;
}

.card-main {
    background-color: white;
    width: 70vw;
    height: 90vh;
    border-radius: 15px;
}

.left {
    background: url('./images/bg-pattern-desktop.svg') no-repeat center center;
    background-size: cover;
}

.woman {
    margin-top: 20%;
    margin-left: -8%;
}

.box {
    margin-top: -60%;
    margin-left: -19%;
}

article {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

article span, article span, article span, article span, article span {
    display: none;
}

.question {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.question:hover {
    font-weight: bold;
}

@media only screen and (max-width: 599px) {
    main {
        height: 90%;
        margin-top: 10%;
        font-size: 14px;
    }

    .card-main {
        width: 90vw;
    }
    
    .woman {
        margin-top: -15%;
        margin-left: 10%;
        width: 80%;
    }
    
    .box {
        margin-top: 0%;
        margin-left: -90%;
        width: 40%;
    }

    h1 {
        text-align: center;
    }
}